.idea
node_modules

contracts/zksync/KeysWithPlonkVerifier.sol
log
etc
hardhat.config.devnet.js
hardhat.config.testnet.js
hardhat.config.mainnet.js

#Hardhat files
cache
artifacts

# OpenZeppelin
.openzeppelin/unknown-*.json
